.App {
  text-align: center;
}

.App-logo {
    animation: bounceIn 2s ease-in-out 3s 1;
  height: 100px;
}

.App-header {
  background-color: #f3ea5f;
  font-size: 1.2em;
  height: 30px;
  padding: 20px;
  color: 	#5f68f3;
}
.App-img {

  height: 100px;
  padding: 20px;
  color: 	#5f68f3;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.gameName{
  font-family: Yellowtail;
  color: #ff66cc;
  padding: 20px;
  font-size: 50px;
}
